<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.berylsystems.buzz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".ThisApp"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FB_APP_ID" />

        <activity
            android:name=".activities.app.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.app.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".activities.user.LoginActivity"
            android:parentActivityName=".activities.app.HomePageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.RegisterActivity"
            android:parentActivityName=".activities.app.HomePageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.ForgotPasswordActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.VerificationActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.NewPasswordActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.ChangeMobileActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.PackageActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.dashboard.CompanyDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.dashboard.AdministrationDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.user.FacebookHandlerActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.EditCompanyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.SignatureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.CreateCompanyActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.accountgroup.CreateAccountGroupActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:parentActivityName=".activities.company.administration.master.billsundry.BillSundryListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.materialcentre.CreateMaterialCentreActivity"
            android:parentActivityName=".activities.company.administration.master.materialcentre.MaterialCentreListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.unit.CreateUnitActivity"
            android:parentActivityName=".activities.company.administration.master.unit.UnitListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.unitconversion.CreateUnitConversionActivity"
            android:parentActivityName=".activities.company.administration.master.unitconversion.UnitConversionListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.materialcentregroup.CreateMaterialCentreGroupActivity"
            android:parentActivityName=".activities.company.administration.master.materialcentregroup.MaterialCentreGroupListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.account.AccountDetailsActivity"
            android:parentActivityName=".activities.company.administration.master.account.ExpandableAccountListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.dashboard.MasterDashboardActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.account.ExpandableAccountListActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.materialcentre.MaterialCentreListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.materialcentregroup.MaterialCentreGroupListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.unit.UnitListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.unitconversion.UnitConversionListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.billsundry.BillSundryListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.accountgroup.AccountGroupListActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item.CreateNewItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item.ExpandableItemListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item_group.ItemGroupListActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item_group.CreateItemGroupActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.purchasetype.PurchaseTypeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.saletype.SaleTypeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.taxcategory.TaxCategoryeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.dashboard.TransactionDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.bankcasedeposit.BankCaseDepositListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.bankcasewithdraw.BankCaseWithdrawActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.company.transaction.bankcasewithdraw.CreateBankCaseWithdrawActivity" />
        <activity
            android:name=".activities.company.administration.master.billsundry.AffectOfBillSundryActivity"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.billsundry.AccountingInSaleActivity"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.billsundry.AccountingInPurchaseActivity"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.billsundry.BillSundryToBeFedAsActivity"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.billsundry.BillSundryFedAsPercentageActivity"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.billsundry.OtherBillSundryActivity"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.billsundry.PreviousBillSundryActivity"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.billsundry.RoundOffActivity"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item.ItemOpeningStockActivity"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item.ItemAlternateUnitDetails"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item.ItemPriceInfoActivity"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item.ItemPackagingUnitDetailsActivity"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item.ItemSettingsActivity"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item.ItemSettingCriticalLevelActivity"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item.ItemDescriptionActivity"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.company.transaction.sale.GetSaleListActivity" />
        <activity
            android:name=".activities.company.transaction.sale.CreateSaleActivity"
            android:parentActivityName=".activities.company.administration.master.materialcentre.MaterialCentreListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.sale.SaleVoucherAddItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.sale.SaleVoucherAddBillActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.company.transaction.bankcasedeposit.CreateBankCaseDepositActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.company.transaction.payment.PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.payment.CreatePaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.receiptvoucher.ReceiptVoucherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.company.transaction.receiptvoucher.CreateReceiptVoucherActivity" />
        <activity
            android:name=".activities.company.transaction.income.IncomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.income.CreateIncomeActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.company.transaction.expence.ExpenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.expence.CreateExpenceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.journalvoucher.JournalVoucherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.journalvoucher.CreateJournalVoucherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.debitnotewoitem.CreateDebitNoteWoItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.creditnotewoitem.CreateCreditNoteWoItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.purchase.CreatePurchaseActivity"
            android:label="@string/title_activity_create_purchase"
            android:parentActivityName=".activities.dashboard.TransactionDashboardActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.purchase.PurchaseAddItemActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.company.transaction.purchase.PurchaseAddBillActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.sale_return.CreateSaleReturnActivity"
            android:label="@string/title_activity_create_sale_type"
            android:parentActivityName=".activities.dashboard.TransactionDashboardActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.creditnotewoitem.CreditNoteWoItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.debitnotewoitem.DebitNoteWoItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activities.company.transaction.purchase_return.CreatePurchaseReturnActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.purchase_return.PurchaseReturnAddBillActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.purchase_return.PurchaseReturnAddItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.sale_return.SaleReturnAddBillActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.sale_return.SaleReturnAddItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.FirstPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.company.transaction.TransactionCashInHandActivity"
            android:parentActivityName=".activities.company.FirstPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.TransactionBankActivity"
            android:parentActivityName=".activities.company.FirstPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.TransactionCustomerActivity"
            android:parentActivityName=".activities.company.FirstPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.TransactionSupplierActivity"
            android:parentActivityName=".activities.company.FirstPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.TransactionStockInHandActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.transaction.sale.EditSaleActivity"
            android:parentActivityName=".activities.dashboard.TransactionDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.company.transaction.sale_return.EditSaleReturnActivity"
            android:parentActivityName=".activities.dashboard.TransactionDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.company.transaction.purchase.EditPurchaseActivity"
            android:parentActivityName=".activities.dashboard.TransactionDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.company.transaction.purchase_return.EditPurchaseReturnActivity"
            android:parentActivityName=".activities.dashboard.TransactionDashboardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.user.UpdateUserActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.company.navigation.reports.account_group.LedgerActivity"
            android:parentActivityName=".activities.company.navigation.reports.account_group.AcountGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.navigation.reports.account_group.CashBankActivity"
            android:parentActivityName=".activities.company.navigation.reports.account_group.AcountGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.navigation.reports.account_group.AcountGroupActivity"
            android:parentActivityName=".activities.company.FirstPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.navigation.reports.account_group.PdcActivity"
            android:parentActivityName=".activities.company.navigation.reports.account_group.AcountGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.navigation.reports.outstanding.AmountReceivableActivity"
            android:parentActivityName=".activities.company.navigation.reports.account_group.AcountGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.navigation.reports.outstanding.AmountPaybleActivity"
            android:parentActivityName=".activities.company.navigation.reports.account_group.AcountGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <!--************************************ADD YOUR FILE ABOVE THIS********************************************************-->
        <service android:name=".networks.ApiCallsService" />

    </application>

</manifest>