<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.berylsystems.buzz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".ThisApp"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FB_APP_ID" />

        <activity
            android:name=".activities.app.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.app.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".activities.user.LoginActivity"
            android:parentActivityName=".activities.app.HomePageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.RegisterActivity"
            android:parentActivityName=".activities.app.HomePageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.ForgotPasswordActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.VerificationActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.NewPasswordActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
        android:name=".activities.user.ChangeMobileActivity"
        android:parentActivityName=".activities.user.LoginActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.PackageActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.dashboard.CompanyDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.dashboard.AdministrationDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.user.FacebookHandlerActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.EditCompanyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.SignatureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.CreateCompanyActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activities.company.administration.master.accountgroup.CreateAccountGroupActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:parentActivityName=".activities.company.administration.master.billsundry.BillSundryListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.materialcentre.CreateMaterialCentreActivity"
            android:parentActivityName=".activities.company.administration.master.materialcentre.MaterialCentreListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.unit.CreateUnitActivity"
            android:parentActivityName=".activities.company.administration.master.unit.UnitListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.unitconversion.CreateUnitConversionActivity"
            android:parentActivityName=".activities.company.administration.master.unitconversion.UnitConversionListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.materialcentregroup.CreateMaterialCentreGroupActivity"
            android:parentActivityName=".activities.company.administration.master.materialcentregroup.MaterialCentreGroupListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.account.AccountDetailsActivity"
            android:parentActivityName=".activities.company.administration.master.account.ExpandableAccountListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.dashboard.MasterDashboardActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.account.ExpandableAccountListActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.materialcentre.MaterialCentreListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.materialcentregroup.MaterialCentreGroupListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.unit.UnitListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.unitconversion.UnitConversionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.billsundry.BillSundryListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.accountgroup.AccountGroupListActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.CompanyListActivity"
            android:parentActivityName=".activities.dashboard.CompanyDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
	     <activity
            android:name=".activities.company.administration.master.item.CreateNewItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.company.administration.master.item.ExpandableItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>
	 <activity
            android:name=".activities.company.administration.master.item_group.ItemGroupListActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
	      <activity
            android:name=".activities.company.administration.master.item_group.CreateItemGroupActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <service android:name=".networks.ApiCallsService" />

        <activity
            android:name=".activities.company.administration.master.purchasetype.PurchaseTypeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.saletype.SaleTypeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.company.administration.master.taxcategory.TaxCategoryeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.dashboard.TransactionDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.company.administration.master.billsundry.AffectOfBillSundryActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.billsundry.AccountingInSaleActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.billsundry.AccountingInPurchaseActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.billsundry.BillSundryToBeFedAsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.billsundry.BillSundryFedAsPercentageActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.billsundry.OtherBillSundryActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.billsundry.PreviousBillSundryActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.billsundry.RoundOffActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.billsundry.CreateBillSundryActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.item.ItemOpeningStockActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.item.ItemAlternateUnitDetails"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.item.ItemPriceInfoActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.item.ItemPackagingUnitDetailsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.item.ItemSettingsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.item.ItemSettingCriticalLevelActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".activities.company.administration.master.item.ItemDescriptionActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.item.CreateNewItemActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
	
	   <activity android:name=".activities.company.sale.GetSaleListActivity" />
        <activity
	            android:name=".activities.company.sale.CreateSaleActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.company.administration.master.materialcentre.MaterialCentreListActivity"
            android:windowSoftInputMode="stateHidden" />
	            <activity android:name=".activities.company.sale.SaleVoucherAddItemActivity" />
        <activity android:name=".activities.company.sale.SaleVoucherAddBillActivity"></activity>
	<activity
            android:name=".activities.company.transection.bankcasedeposit.BankCaseDepositListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.company.transection.bankcasedeposit.CreateBankCaseDepositActivity" />
        <activity
            android:name=".activities.company.transection.bankcasewithdraw.BankCaseWithdrawActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.company.transection.bankcasewithdraw.CreateBankCaseWithdrawActivity" />
        <activity android:name=".activities.company.transection.payment.PaymentActivity" />
        <activity android:name=".activities.company.transection.payment.CreatePaymentActivity" />
	 <activity android:name=".activities.company.transection.receipt.ReceiptActivity" />
        <activity android:name=".activities.company.transection.receipt.CreateReceiptActivity" />  
 <activity android:name=".activities.company.transection.income.IncomeActivity" />
        <activity android:name=".activities.company.transection.income.CreateIncomeActivity" />
	 <activity android:name=".activities.company.transection.expence.ExpenceActivity" />
        <activity android:name=".activities.company.transection.expence.CreateExpenceActivity" />
	<activity android:name=".activities.company.transection.journalvoucher.JournalVoucherActivity" />
	 <activity android:name=".activities.company.transection.journalvoucher.CreateJournalVoucherActivity" />
        <activity android:name=".activities.company.transection.debitnotewoitem.CreateDebitNoteWoItemActivity" />
	 <activity android:name=".activities.company.transection.creditnotewoitem.CreateCreditNoteWoItemActivity"></activity>

	</application>
   </manifest>
