<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.berylsystems.buzz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".ThisApp"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FB_APP_ID" />

        <activity
            android:name=".activities.app.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.app.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".activities.user.LoginActivity"
            android:parentActivityName=".activities.app.HomePageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.RegisterActivity"
            android:parentActivityName=".activities.app.HomePageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.ForgotPasswordActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.VerificationActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.NewPasswordActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.ChangeMobileActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.dashboard.CompanyDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.dashboard.AdministrationDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.user.FacebookHandlerActivity"
            android:parentActivityName=".activities.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.EditCompanyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.SignatureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.CreateCompanyActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.account.CreateAccountActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item.CreateItemActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.accountgroup.CreateAccountGroupActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.accountgroup.EditGroupActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.account.AccountDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.dashboard.MasterDashboardActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.account.ExpandableAccountListActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.item.ItemListActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.administration.master.accountgroup.AccountGroupListActivity"
            android:parentActivityName=".activities.company.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.company.CompanyListActivity"
            android:parentActivityName=".activities.dashboard.CompanyDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <service android:name=".networks.ApiCallsService" />


    </application>

</manifest>